*
{
	
}
body
{

	font-family: 'Baloo Paaji', cursive; 
	/*font-family: 'Prompt', sans-serif;*/
}
header 
{
	overflow: hidden;
}
/*ESTA ES LA PARTE DEL HEADER*/
header .navbar{ background-color: #037F99; }
header .navbar a{color: white;}
header .navbar ul li a {text-align: center;}
header .navbar ul li a:hover{background-color:#F67673; color:#037F99;  }
header .navbar-header a span {color:#F67673;}
header button span{background-color: grey;}
#btn_menu{background-color: transparent; border:1px solid black;}
/*ESTA ES LA SECCION DEL BANNER*/
.banner
{
	background: url(../img/img-1.jpg);
	background-position:  top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-sizing: border-box;
}
.texto
{
	padding: 150px 0px ;
	
	background-color: rgba(32,147,185,0.8); 
}
/*ESTA ES LA SECCION DEL hero*/
.hero
{
	margin-top: 50px;
}
article
{
	outline: 1px solid red;
	background-color: #037F99;
}
/*ESTA ES LA SECCION DE CONEJOS*/
.conejos .row
{
	background-color:#037F99; 
	padding: 20px 0px;
}
.conejos .box_bunny
{
	padding:10px;
}
.conejos article
{
	background-color:  #ECF7FB;
}
.conejos input
{
	border: solid 9px #ECF7FB;
    padding: 20px;
    margin-bottom: 10px;
}
.conejo-echado{
    margin-right: 0;
    width: 100%;
}
.list-inline>li{
    margin: 0 20px;
}
.box-icon-contact{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;   
    line-height: 50px;
}
/*ESTA ES LA SECCION D ELOS IMG CONEJITOS*/
.img_conejitos img{
    width: 100px;
    height:  60px;
}
.img_conejitos ul{
   
    display: flex;
    overflow: hidden;
   
}
.img_conejitos li{
    margin: 5px;
}
/*ESTA ES LA PARTE DEL FOOTER*/
footer{
    background: #037F99;
    border-top: solid 2px #F67673;
    padding: 30px 0;
    color: #fff;
}